/* Coolors Exported Palette - coolors.co/b2aa8e-0c1b33-98473e-e9e3e6-606c38 */

/* HSL */
$color1: hsla(47%, 19%, 63%, 1);
$color2: hsla(217%, 62%, 12%, 1);
$color3: hsla(6%, 42%, 42%, 1);
$color4: hsla(330%, 12%, 90%, 1);
$color5: hsla(74%, 32%, 32%, 1);

/* RGB */
$color1: rgba(178, 170, 142, 1);
$color2: rgba(12, 27, 51, 1);
$color3: rgba(152, 71, 62, 1);
$color4: rgba(233, 227, 230, 1);
$color5: rgba(96, 108, 56, 1);